.card {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 20px 4px 0 #00000025;

    border: 1px solid transparent;
    background:
        linear-gradient(#16161a, #16161a) padding-box,
        linear-gradient(to bottom, #ffffff25, #7c00c490)
            border-box;
}
