.container {
    padding: 20px;
}

.socialMedia {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.card_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.animation {
    transition: 1s ease-in-out 500ms;
    @starting-style {
        opacity: 0;
        transform: translateX(-50px);
    }
}
