.container {
  width: 350px;
  height: 203px;
  padding: 20px;
}

.socialMedia {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.card_title {
  font-family: "Title", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
