:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16161a;
  background-image: url("/images/wallpaper.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #7d00c4;
  --color-secondary: #ffffff;
  --color-card: #36333340;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Crimson", serif;
  src: url("assets/fonts/CrimsonText-Bold.woff2") format("woff2");
}
